<% provide(:title, 'Help') %>
<div class="content-block">
	<h1>Help</h1>
	<p>myCue is a online application to help you learn lines or memorize any other information.</p>
	<h2>Steps</h2>
	<ol>
		<li>Sign up or login.</li>
		<li>Create a script</li>
		<li>Create a scene for that scrpt</li>
		<li>Enter in each cue and line you want to memorize.</li>
		<li>Click quiz me on the scene page.</li>
	</ol>
</div>