<%= div_for script do %>
	<span><%= link_to "#{script.title}", script %></span>
	<span>
		<%= link_to 'Edit', edit_script_path(script) %>
	  <%= link_to 'Destroy', script, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
	</span>
<% end %>
